body {
  background-color: #e4c7ff;
}

.container {
  margin: auto;
  width: min(50rem, 90vw);
  font-size: 1.2rem;
}

.h1 {
  font-family: "Rampart One", Arial, Helvetica, sans-serif;
}

.meme-name {
  margin: 1rem;
  color: #000;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.ul {
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 1rem;
  height: 1rem;
  transform: rotate(45deg);
}

.img {
  display: flex;
  margin: auto;
  width: min(90vw, 20rem);
  transition: all 1s ease;
  transform: scale(0);
  height: 0;
}

.li {
  border-top: 0.1rem solid #666666;
}

.container .input:checked ~ .row .meme-name {
  color: #000;
}

.input:checked ~ .row .img {
  display: flex;
  transform: scale(1);
  height: fit-content;
  padding-bottom: 5%;
}

.input:checked ~ .row .icon {
  transform: rotate(0);
}

.row {
  cursor: pointer;
}

.row:active {
  cursor: wait;
}

@media (hover: hover) {
  /* when hover is supported */
  .icon {
    display: none;
  }

  .meme-name {
    color: #82449b;
  }

  .container:hover {
    cursor: pointer;
  }

  .container:hover .meme-name {
    color: #000;
  }

  .container:hover .icon {
    display: flex;
  }

  .li:hover .icon {
    transform: rotate(0);
  }

  .li:hover .img {
    display: flex;
    transform: scale(1);
    height: fit-content;
    padding-bottom: 5%;
  }
}

@media (min-width: 768px) {
  .container {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .container {
    font-size: 2rem;
  }
}
